@{
Page.Title = "plog";

/*
var db = Database.Open("GenericDataConnString");

if (IsPost)
{
   if (Request["action_type"] == "insert")
   {
      db.Execute("INSERT INTO plog.plog (entry_type, datestamp, sort_idx, entry) VALUES ('" + Request["type"] + "', '" + Request["datestamp"] + "', '" + Request["sortidx"] + "', '" + Request["entry"] + "'));
   }
   else if (Request["action_type"] == "update")
   {
      db.Execute("UPDATE dsfdsfSFCO_survey SET action_date = GETDATE() + 1./24 WHERE pk = ");
   }
}
*/
}

<!DOCTYPE html>

<html lang="en">
   <head>
      <meta charset="utf-8" />
   </head>

   <body>
   </body>
</html>
