@{
Page.Title = "Map";

var db = Database.Open("GenericDataConnString");

//   pull list of existing entry types
var rsObjects = db.Query("SELECT type, x, y, options FROM arena.map_objects WHERE map_id = 1");
}

<script src="map.js"></script>
<script src="map_objects.js"></script>

@{
   foreach (var row in rsObjects)
   {
      <script>AddObject('@row.type', @row.x, @row.y, '@row.options')</script>
   }
}

<html>
   <head></head>
   <body>
   Object Type To Add
   <select id="id_add_object_type">
   <option value="NorthFacingCar">North Facing Car</option>
   <option value="VerticalLine">Vertical Line</option>
   <option value="HorizontalLine">Horizontal Line</option>
   </select>
   <input type="button" value="Add Object" onclick="AddObject()">
   <select id="id_object_list" onchange="SelectObjectFromList()">
   </select>
   <input type="button" value="Del Object" onclick="DelObject()">
 
   <br />
   <input type="text" id="id_r">
   <input type="text" id="id_x" style="width:300">
   <input type="button" value="refresh" onclick="refresh()">
   <br />
   <canvas id="id_canvas" width="2000" height="1000" onClick="clickmap()" style="position:absolute;left:0;top:200">
   <p>Sorry: Browser does not support Graphics Canvas - get rid of your loser browser and get a real man's browser - or change your settings!</p>
   </canvas>
   </body>
</html>
<script>
refresh();
</script>